:host {
  display: block;
  height: 100%;
  width: 100%;
  touch-action:none
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
