:host {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
}

.bottom-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.top-img {
  position: absolute;
  mask-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 0%) 35%,
    rgb(255 255 255 / 100%) 50%,
    rgb(0 0 0 / 0%) 65%
  );
  mask-size: 300% 100%;
  mask-repeat: no-repeat;
  filter: brightness(1.8);
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: flicker;
  max-width: 100%;
  max-height: 100%;
}

@keyframes flicker {
  0% {
    mask-position: 150% 0%;
  }

  30% {
    mask-position: -150% 0%;
  }

  100% {
    mask-position: -150% 0%;
  }
}
