:host {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(105%);
  transition: transform 0.2s;
  box-sizing: border-box;
  box-shadow: 0.1rem 0 0.3rem rgb(0 0 0 / 50%);
  border: 1px solid #3b230e;
  background: linear-gradient(
    120deg,
    rgb(245 198 95),
    rgb(245 218 158),
    rgb(245 198 96)
  );
  padding: 0.125rem;
  width: 28rem;
  max-width: 80%;
  height: 100%;
  user-select: none;
}

:host(.open) {
  transform: translateX(0%);
}

.container {
  box-sizing: border-box;
  container: panel / inline-size;
  box-shadow: inset 0 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  border: 0.0625rem solid rgb(180 150 81);
  background: url('/images/wood-bg.png') repeat-y center top;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}

.container > * {
  height: 100%;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
}

.loading {
  font-size: 6rem;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.image-grid > img {
  filter: drop-shadow(0 0 0.15rem rgba(0 0 0 / 80%));
  cursor: pointer;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pagination {
  display: flex;
  align-items: center;
  border: 1px solid #3b230e;
  background: linear-gradient(
    120deg,
    rgb(245 198 95),
    rgb(245 218 158),
    rgb(245 198 96)
  );
  padding: 0.5rem;
}

.page-number-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.page-button,
.navigate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: 0;
  border-radius: 0.125em;
  background-color: transparent;
  padding: 0 0.25em;
  min-width: 1.25em;
  min-height: 1.25em;
  color: rgb(59 35 14);
  font-size: 1em;
}

.navigate-button {
  position: relative;
  font-size: 1.6em;
}

.navigate-button[disabled] {
  color: rgba(59 35 14 / 50%);
}

.navigate-button iconify-icon {
  position: absolute;
  pointer-events: none;
}

.page-button:not([disabled]),
.navigate-button:not([disabled]) {
  cursor: pointer;
}

.page-button:not([disabled]):hover,
.navigate-button:not([disabled]):hover {
  background-color: rgba(59 35 14 / 20%);
}

.page-button--active {
  background-color: rgb(59 35 14);
  color: white;
}

/* @container panel (min-width: 26.875rem) {
  .pagination {
    gap: 0.5rem;
    font-size: 1.25rem;
  }
} */

@media (min-width: 430px) {
  .pagination {
    gap: 0.5rem;
    font-size: 1.25rem;
  }
}

.search-input {
  filter: var(--element-filter);
  box-sizing: border-box;
  margin-right: auto;
  outline: none;
  border: 0;
  background-image: url('/images/input-frame.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 1rem;
  width: 100%;
  max-width: 14rem;
  height: 2.75rem;
  color: var(--dark-text-color);
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: serif;
  text-align: center;
}

.search-input::placeholder {
  color: rgb(0 0 0 / 30%);
  text-shadow: none;
}

#orderButton::part(icon) {
  transition: 0.2s transform;
}

#orderButton[descending]::part(icon) {
  transform: scaleX(-1) rotate(180deg);
}

:host([loading]) .content {
  display: none;
}

:host([loading]) .error {
  display: none;
}

:host([error]) .content {
  display: none;
}

:host([error]) .loading {
  display: none;
}

::selection {
  filter: brightness(120%);
  background: rgb(88 64 52 / 80%);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background: #f5d58d;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
