:host {
  outline: none;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  width: 4.25rem;
  height: 5rem;
  background-color: transparent;
  transition: 0.05s;
  justify-content: center;
  filter: contrast(100%) brightness(100%)
    drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
    drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
}

:host(:hover:not([loading])) {
  filter: contrast(105%) brightness(105%)
    drop-shadow(1px 4px 3px rgba(0, 0, 0, 0.5))
    drop-shadow(-1px 0px 3px rgba(0, 0, 0, 0.5));
}

:host(:active:not([loading])) {
  transform: translateY(1px);
  filter: contrast(105%) brightness(105%)
    drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.6))
    drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.6));
}

.img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.icon {
  position: absolute;
  font-size: 1.5rem;
  color: rgb(81, 55, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 21%;
  width: 82%;
  height: 44%;
  box-sizing: border-box;
}

iconify-icon {
  display: none;
}

:host([loading]) {
  cursor: wait;
}

:host([loading]) iconify-icon {
  display: inline;
}

.text {
  font-size: 0.9rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Scheherazade New', serif;
  color: rgb(81, 55, 33);
  bottom: 12%;
  width: 85%;
  height: 20%;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  text-align: justify;
  box-sizing: border-box;
}
