:host {
  display: block;
  position: fixed;
  font-size: 0.8rem;
  margin-top: 3rem;
  margin-left: 0.5rem;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
  max-width: 100vw;
  color: var(--dark-text-color);
  box-sizing: border-box;
  /* Resize to the size of background image */
  width: 17.62rem;
  height: 26.33rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
  padding: 1rem 0.8rem 1rem 1rem;

  background-image: url('./images/tips-paper.png');
  background-repeat: no-repeat;
  background-size: contain;
}

:host([open]) {
  visibility: visible;
  opacity: 1;
}

.content {
  overflow: auto;
  height: 100%;
}

.content h3 {
  border-bottom: 1px solid var(--dark-text-color);
}

.content * {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

a {
  position: relative;
  outline: none;
  text-decoration: none;
}

a::after {
  content: ' ';
  position: absolute;
  border-bottom: 0.2rem solid rgba(211, 255, 77, 0.5);
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
}

a:link {
  color: #009637;
}

a:visited {
  color: #558f6a;
}

/* width */
::-webkit-scrollbar {
  width: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-text-color);
  border-radius: 0.1rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
