<div class="content">

  <h3>Import image as the wanted photo</h3>
  <p>
    Click <b>IMPORT</b> button to choose an image from your device storage, or drag and drop the image anywhere on this
    page.
  </p>

  <h3>Adjust the position of the photo</h3>
  <p>
    After importing the image, click(or touch) and drag the photo to adjust the position.
  </p>

  <h3>Resize the imported photo</h3>
  <p>
    - Move the cursor over the photo, and scroll the mouse wheel to zoom in or zoom out.
  </p>
  <p>
    - Move the cursor over the red border around the photo and drag it to resize.
  </p>
  <p>
    - For the touch screen device, touch two fingers on the top of the photo, and move them apart to zoom in, or
    together to
    zoom out.
  </p>

  <h3>Name and Bounty</h3>
  <P>
    Click <b>EDIT</b> button to open the edit panel, the first
    input field in the edit panel is name, and the second input field is bounty.
  </P>
  <p>
    You can input any text for both of them, however if you input number in the bounty field, the Belly sign will be
    rendered in the front of the bounty text, and decimal comma will automatically insert in the text.
  </p>

  <h3>Install this app on your device</h3>
  <p>
    <b>NOTE: For now, only Chrome and Edge support this feature.</b>
  </p>
  <p>
    This web application support <a href="https://en.wikipedia.org/wiki/Progressive_web_app" target="_blank">PWA</a>,
    which means you can
    install it as a native app on your device, and launch it directly without opening the browser.

  </p>
  <p>
    Check out the <a href="https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DDesktop"
      target="_blank">installation guide</a>.</p>

</div>