:host {
  --slider-thumb-size: 2rem;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-105%);
  transition: transform 0.2s;
  box-sizing: border-box;
  box-shadow: 0.1rem 0 0.3rem rgb(0 0 0 / 50%);
  border: 1px solid #3b230e;
  background: linear-gradient(
    120deg,
    rgb(245 198 95),
    rgb(245 218 158),
    rgb(245 198 96)
  );
  padding: 0.125rem;
  width: 18.75rem;
  max-width: 80%;
  height: 100%;
}

:host(.open) {
  transform: translateX(0%);
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: inset 0 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  border: 0.0625rem solid rgb(180 150 81);
  background: url('/images/wood-bg.png') repeat-y center top;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}

.field-container {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.action-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
}

.wood-button {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: var(--element-filter);
  transition: 0.05s;
  cursor: pointer;
  outline: none;
  border: 0;
  background-image: url('/images/wood-button.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 6rem;
  height: 2rem;
  color: white;
  font-size: 1rem;
  font-family: serif;
  text-shadow: var(--text-shadow);
}

.wood-button:hover {
  filter: var(--element-hover-filter);
}

.close-button {
  filter: var(--element-filter);
  transition: 0.1s;
  cursor: pointer;
  outline: none;
  border: 0;
  background-image: url('/images/close-button.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

.close-button:hover {
  filter: var(--element-hover-filter);
}

.wood-button:active,
.close-button:active {
  transform: translateY(1px);
  filter: var(--element-active-filter);
}

.text-input {
  filter: var(--element-filter);
  box-sizing: border-box;
  outline: none;
  border: 0;
  background-image: url('/images/input-frame.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 0.8rem 0 0.75rem;
  width: 100%;
  color: var(--dark-text-color);
  font-size: 1rem;
  line-height: 2rem;
  font-family: serif;
  text-align: center;
}

.text-input::placeholder {
  color: rgb(0 0 0 / 30%);
  font-size: 1rem;
  text-shadow: none;
}

.header {
  display: flex;
  position: relative;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto 1.5em;
  background-image: url('/images/scroll-paper.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  width: 14rem;
  height: 2.75rem;
  color: var(--dark-text-color);
  font-size: 1rem;
}

.field-group {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  color: white;
  text-align: right;
}

.field-group label {
  font-size: 0.8rem;
  text-shadow:
    0 0 0.25rem black,
    0 0 0.5rem rgb(57 42 34);
}

::selection {
  filter: brightness(120%);
  background: rgb(88 64 52 / 80%);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background: #f5d58d;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
