:host {
  --text-shadow: 0.1rem 0.1rem 0.1rem rgb(0 0 0 / 50%);
  --element-filter: drop-shadow(2px 0 2px rgb(0 0 0 / 40%))
    drop-shadow(-2px 0 2px rgb(0 0 0 / 40%)) contrast(100%) brightness(100%);
  --element-hover-filter: drop-shadow(3px 0 3px rgb(0 0 0 / 40%))
    drop-shadow(-3px 0 3px rgb(0 0 0 / 50%)) contrast(105%) brightness(105%);
  --element-active-filter: drop-shadow(1px 0 2px rgb(0 0 0 / 60%))
    drop-shadow(-1px 0 2px rgb(0 0 0 / 70%)) contrast(105%) brightness(105%);
  --slider-thumb-size: 2rem;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-105%);
  transition: transform 0.2s;
  box-sizing: border-box;
  box-shadow: 0.1rem 0 0.3rem rgb(0 0 0 / 50%);
  border: 1px solid #3b230e;
  background: linear-gradient(
    120deg,
    rgb(245 198 95),
    rgb(245 218 158),
    rgb(245 198 96)
  );
  padding: 0.125rem;
  width: 18.75rem;
  max-width: 80%;
  height: 100%;
}

:host(.open) {
  transform: translateX(0%);
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: inset 0 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  border: 0.0625rem solid rgb(180 150 81);
  background: url('./images/wood-bg.png') repeat-y center top;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}

.field-container {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.action-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
}

.wood-button {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: var(--element-filter);
  transition: 0.05s;
  cursor: pointer;
  outline: none;
  border: 0;
  background-image: url('./images/wood-button.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 6rem;
  height: 2rem;
  color: white;
  font-size: 1rem;
  font-family: serif;
  text-shadow: var(--text-shadow);
}

.wood-button:hover {
  filter: var(--element-hover-filter);
}

.close-button {
  filter: var(--element-filter);
  transition: 0.1s;
  cursor: pointer;
  outline: none;
  border: 0;
  background-image: url('./images/close-button.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

.close-button:hover {
  filter: var(--element-hover-filter);
}

.wood-button:active,
.close-button:active {
  transform: translateY(1px);
  filter: var(--element-active-filter);
}

.text-input {
  filter: var(--element-filter);
  outline: none;
  border: 0;
  background-image: url('./images/input-frame.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 1rem;
  color: var(--dark-text-color);
  font-size: 2rem;
  line-height: 4rem;
  font-family: serif;
  text-align: center;
}

.text-input::placeholder {
  color: rgb(0 0 0 / 30%);
  font-size: 2rem;
  text-shadow: none;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__label {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  background-image: url('./images/scroll-paper.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  width: 11rem;
  height: 2rem;
  color: var(--dark-text-color);
  font-size: 0.75rem;
}

.slider__input {
  appearance: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 2.5rem;
}

.slider__input::-webkit-slider-runnable-track {
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 80%);
  border: 1px solid rgb(0 0 0 / 80%);
  border-radius: 0.1rem;
  background-color: var(--theme-color);
  height: 0.75rem;
}

.slider__input::-moz-range-track {
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 80%);
  border: 1px solid rgb(0 0 0 / 80%);
  border-radius: 0.1rem;
  background-color: var(--theme-color);
  height: 0.75rem;
}

.slider__input::-webkit-slider-thumb {
  position: relative;
  top: -0.75rem;
  appearance: none;
  filter: var(--element-filter);
  transition: filter 0.05s;
  cursor: pointer;
  border: 0;
  background: url('./images/slider-thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
}

.slider__input::-webkit-slider-thumb:hover {
  filter: var(--element-hover-filter);
}

.slider__input::-moz-range-thumb {
  position: relative;
  top: -0.75rem;
  filter: var(--element-filter);
  cursor: pointer;
  border: 0;
  background: url('./images/slider-thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
}

::selection {
  filter: brightness(120%);
  background: rgb(88 64 52 / 80%);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background: #f5d58d;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
