<div class="container">
  <div class="field-container">
    <input id="nameInput" class="text-input" placeholder="Name" />
    <input id="bountyInput" class="text-input" placeholder="Bounty" />

    <div class="slider">
      <label for="nameSpacingSlider" class="slider__label">Name Text Spacing</label>
      <input id="nameSpacingSlider" class="slider__input" type="range" min="0" max="3">
    </div>

    <div class="slider">
      <label for="bountySpacingSlider" class="slider__label">Bounty Text Spacing</label>
      <input id="bountySpacingSlider" class="slider__input" type="range" min="0" max="3">
    </div>

    <div class="slider">
      <label for="shadowSlider" class="slider__label">Shadow</label>
      <input id="shadowSlider" class="slider__input" type="range" min="0" max="20">
    </div>

    <div class="slider">
      <label for="blurSlider" class="slider__label">Blur</label>
      <input id="blurSlider" class="slider__input" type="range" min="0" max="10">
    </div>

    <div class="slider">
      <label for="brightnessSlider" class="slider__label">Brightness</label>
      <input id="brightnessSlider" class="slider__input" type="range" min="0" max="200">
    </div>

    <div class="slider">
      <label for="contrastSlider" class="slider__label">Contrast</label>
      <input id="contrastSlider" class="slider__input" type="range" min="0" max="200">
    </div>

    <div class="slider">
      <label for="grayscaleSlider" class="slider__label">Grayscale</label>
      <input id="grayscaleSlider" class="slider__input" type="range" min="0" max="100">
    </div>

    <div class="slider">
      <label for="hueRotateSlider" class="slider__label">Hue Rotate</label>
      <input id="hueRotateSlider" class="slider__input" type="range" min="0" max="360">
    </div>

    <div class="slider">
      <label for="saturateSlider" class="slider__label">Saturate</label>
      <input id="saturateSlider" class="slider__input" type="range" min="0" max="200">
    </div>

    <div class="slider">
      <label for="sepiaSlider" class="slider__label">Sepia</label>
      <input id="sepiaSlider" class="slider__input" type="range" min="0" max="100">
    </div>
  </div>
  <div class="action-container">
    <button id="closeButton" class="close-button" aria-label="Close edit panel button" title="Close"></button>
    <button id="resetButton" class="wood-button" aria-label="Reset button"
      title="Reset to default settings.">RESET</button>
  </div>
</div>