@font-face {
  font-family: 'Vertiky';
  src: url('../font/Vertiky.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: 'Scheherazade New', serif;

  /* set font size to be 2.5vmin, but limit size in the range between 1rem and 4rem */
  font-size: clamp(1rem, 2.5vmin, 4rem);
}
