@font-face {
  src: url('/font/Vertiky.ttf');
  font-family: Vertiky;
}

:root {
  --theme-color: #584034;
  --dark-text-color: rgb(81 55 33);
  --text-shadow: 0.1rem 0.1rem 0.1rem rgb(0 0 0 / 50%);
  --element-filter: drop-shadow(0.125rem 0 0.125rem rgb(0 0 0 / 40%))
    drop-shadow(-0.125rem 0 0.125rem rgb(0 0 0 / 40%)) contrast(100%)
    brightness(100%);
  --element-hover-filter: drop-shadow(0.1875rem 0 0.1875rem rgb(0 0 0 / 40%))
    drop-shadow(-0.1875rem 0 0.1875rem rgb(0 0 0 / 50%)) contrast(105%)
    brightness(105%);
  --element-active-filter: drop-shadow(0.0625rem 0 0.125rem rgb(0 0 0 / 60%));
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* set font size to be 2.5vmin, but limit size in the range between 1rem and 4rem */
  font-size: clamp(1rem, 2.5vmin, 4rem);
}

github-corner:not(.gc-ua) {
  mix-blend-mode: darken;
  transition: 0.2s;
}

github-corner:not(.gc-ua)::part(banner) {
  fill: var(--theme-color);
}

github-corner:not(.gc-ua):hover {
  filter: contrast(150%);
}

.gc-ua::part(banner) {
  fill: url('#banner-grad');
}

.gc-ua::part(octocat) {
  fill: white;
}
